@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import "tailwindcss";

body{
    font-family: 'Julius Sans One', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Julius Sans One', sans-serif;
}

@keyframes float{
    0%,100% {transform: translateY(0);}
}

.floating{
    animation: float 5s ease-in-out infinite;
}

.font-orbitron{
    font-family: 'Orbitron';
}

.logo{
    box-shadow: 0 8px 15px rgba(7, 206, 180, 0.25),
                0 18px 35px rgba(7, 222, 194, 0.35),
                0 30px 60px rgba(7, 172, 237, 0.427);   

}


.img-shadow {
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(7, 156, 206, 0.25),
                0 18px 35px rgba(7, 193, 222, 0.35),
                0 30px 60px rgba(7, 176, 237, 0.396);   
}

